{% extends 'blog/base.html' %}
{% block content %}
    <div class="container mt-5">
        <table class="table table-striped" style="background-color: darkseagreen">
            <thead>

            <tr>
                <th>ردیف</th>
                <th>کالا</th>
                <th>تعداد</th>
                <th>حذف</th>
            </tr>

            </thead>
            <tbody>

            {% for object in object_list %}
                <tr>
                    <td>{{ forloop.revcounter }}</td>
                    <td>{{ object.product }}</td>
                    <td>
                        <a class="deduct-btn btn btn-sm rounded btn-light"
                           data-product-id="{{ object.product.pk }}">-</a>
                        <span class="qty">{{ object.qty }}</span>
                        <a class="plus-btn btn btn-sm rounded btn-light" data-product-id="{{ object.product.pk }}">+</a>

                    </td>
                    <td>
                        <a href="{% url 'store:delete-from-cart' object.product.pk %}" class="btn btn-sm btn-light">
                            ✖
                        </a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="3">سبد شما خالی است!</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a href="{% url 'store:finalize' %}" class="btn btn-primary mb-5">ثبت سفارش</a>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('a.deduct-btn').click(function (event) {
                const productId = event.currentTarget.dataset.productId;
                $.ajax({
                    url: "{% url 'store:deduct-from-cart' %}",
                    data: {
                        product_id: productId
                    },
                    method: 'post',
                    success: function (response) {
                        let qtySpan = $(event.currentTarget).next()[0];
                        qtySpan.innerHTML = response.qty;
                    },
                    error: function (response) {
                        console.log(response);
                        alert('عملیات با خطا مواجه شد.')
                    }
                });
            });
            $('a.plus-btn').click(function (event) {
                const productId = event.currentTarget.dataset.productId;
                $.ajax({
                    url: "{% url 'store:adding' %}",
                    data: {
                        product_id: productId
                    },
                    method: 'post',
                    success: function (response) {
                        let qtySpan = $(event.currentTarget).before()[0];
                        qtySpan.innerHTML = response.qty;
                    },
                    error: function (response) {
                        console.log(response);
                        alert('عملیات با خطا مواجه شد.')
                    }
                });
            });
        });
    </script>

{% endblock %}