{% extends 'blog/base.html' %}
{% block page_header_title %}
    {{ page_title }}
{% endblock %}
{% block content %}

    <div class="limiter">
        <div class="container-login100" style="background-color: #0f6674">
            <div class="row mb-2">
                <form method="post">
                    {% csrf_token %}
                    <h3 style="color: dodgerblue" class="text mb-4">{{ page_title }}</h3>
                    {% with field=form.name %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}" style="color: white">{{ field.label }}</label>
                            <input type="text" id="{{ field.auto_id }}" class="form-control"
                                   value="{{ field.initial }}" name="{{ field.name }}">
                        </div>
                    {% endwith %}
                    {% with field=form.slug %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}" style="color: white">{{ field.label }}</label>
                            <input type="text" id="{{ field.auto_id }}" class="form-control"
                                   value="{{ field.initial }}" name="{{ field.name }}">
                        </div>
                    {% endwith %}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
